.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #2d4059;
    color: $white;
    font-weight: bold;
    padding: 2rem;
    width: 100%;
    @include fontSize(24, normal, normal);
    @include flexCenter;
}