.Nav {
    background-color: $dark-blue;
    width: 100%;
    padding: 2rem;
    @include flexBetween;

    &--title {
        color: $white;
        font-weight: bold;
        @include fontSize(24, normal, normal);
    }

    &__List {

        &--title {
            color: $white;
            cursor: pointer;
            @include fontSize(18, normal, normal);
        }

        >div:nth-child(1) {
            margin-right: 2rem;
        }
    }
}