/*  Mixin for Media Queries
    How to use: 
    @include respondTo (phone/tablet/desktop/) {
      // responsive code for tablet
       ...
    }    
*/
@mixin respondTo ($breakpoint) {

    @if $breakpoint==phone {
        @media only screen and (max-width: 600px) {
            @content;
        }
    }

    @if $breakpoint==tablet {
        @media only screen and (max-width: 991px) {
            @content;
        }
    }

    @if $breakpoint==desktop {
        @media only screen and (min-width: 992px) {
            @content;
        }
    }

    @if $breakpoint==large {
        @media only screen and (min-width: 1600px) {
            @content;
        }
    }
}


/*  Mixin for Custom Scroll 
    How to use: 
    @include respond (phone/tablet/desktop/) {
      // responsive code for tablet
       ...
    }    
*/
@mixin customScroll {
    &::-webkit-scrollbar {
        width: 15px;
        background-color: rgba($color: #F2F2F2, $alpha: 0.6);
        -webkit-border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        -webkit-border-radius: 10px;
        background-color: #BDBDBD;
    }

    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: #F2F2F2;
    }
}

/*  Mixin for Placeholder 
    How to use: 
    input,  
    textarea {  
    @include placeholder {
        color: $grey;
    }
}
*/
@mixin placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

/*  Mixin for Flex 
    How to use: 
    div {  
    @include flexColumn
    }
}
*/
@mixin flexColumn {
    display: flex;
    flex-direction: column;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexCenterColumn {
    @include flexCenter;
    flex-direction: column;
}

@mixin flexCenterVert {
    display: flex;
    align-items: center;
}

@mixin flexCenterHoriz {
    display: flex;
    justify-content: center;
}

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin flexEven {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flexEnd {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin flexStart {
    display: flex;
    align-items: flex-start;
}

/*  Mixin for Font Size 
    How to use: 
    p {
        @include fontSize(12, 18, 1.2);
        // returns
        font-size: 12px;
        line-height: 1.5; // 18 / 12
        letter-spacing: 0.1em;
    }
*/
@mixin fontSize($font-size, $line-height: normal, $letter-spacing: normal) {
    font-size: $font-size * 1px;
    // font-size: $font-size * 0.1rem;
    // example using rem values and 62.5% font-size so 1rem = 10px

    @if $line-height==normal {
        line-height: normal;
    }

    @else {
        line-height: $line-height / $font-size;
    }

    @if $letter-spacing==normal {
        letter-spacing: normal;
    }

    @else {
        letter-spacing: #{$letter-spacing / $font-size}em;
    }
}

/*  Mixin for Key Frames
    How to use: 
    @include keyframes(animate) {
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
*/
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

/*  Mixin for Absolute Position
    How to use: 
    @include absolute(100px, 100px, auto, auto)
*/
@mixin absolute ($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

/*  Mixin for Shortening a text
    How to use: 
    @include shortenText
*/
@mixin shortenText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin svgColor($svg-color) {
    path {
        fill: $svg-color;
    }
}