.Home__Content {
    padding: 1rem;
    padding-bottom: 10rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 18px;

    &__Card {
        min-width: 450px;
        border: 1px solid $dark-blue;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2), 0px 2px 20px rgba(0, 0, 0, 0.1);

        &--title {
            font-weight: 500;
            margin-bottom: 10px;
            text-align: center;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
            padding-bottom: 15px;
            @include fontSize(24, normal, normal)
        }

        &__Wrapper {
            text-transform: capitalize;
            @include flexBetween;

            &--title {
                padding-right: 5rem;
            }

            &--text {
                &.shorten {
                    @include shortenText;
                }
            }
        }

        button {
            margin-top: 25px;
        }
    }
}

.Character {
    height: 100%;
    @include flexCenterColumn;
}